:root {
  --secondary-text-clr: rgb(103, 103, 103);
  --primary-bg-clr: rgb(226, 232, 240);
  --dashboard-bg-clr: rgb(25, 146, 212);
  --dashboard-text-clr: rgb(255, 255, 255);
  --accent-clr: rgb(240, 180, 41);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
}

.sidebar {
  /* outline: 1px solid red; */
  padding: 1rem;
  background-color: var(--dashboard-bg-clr);
  color: white;
  grid-area: sidebar;
}

/* add icons to list items */

header {
  /* outline: 1px solid red; */

  padding: 1rem 2rem;
  box-shadow: 5px -2px 5px 5px rgba(120, 120, 120, 0.4);
  grid-area: header;
  z-index: 1;
}

header .top-row,
header .bottom-row {
  display: flex;
}

main {
  /* outline: 1px solid red; */
  background-color: var(--primary-bg-clr);
  padding: 1rem 2rem 2rem 1rem;
  grid-area: main;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    "your-projects  aside-column";
  gap: 1rem;
}

.your-projects {
  grid-area: your-projects;
}

.project-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.card {
  background-color: var(--dashboard-text-clr);
  border-radius: 8px;
  padding: 1em;
}

.project-cards .card {
  border-left: 7px solid var(--accent-clr);

}

.card p {
  color: var(--secondary-text-clr);
}

.aside-column {
  grid-area: aside-column;
}

.anouncements {}

.trending {}