:root {
  --secondary-text-clr: rgb(103, 103, 103);
  --primary-bg-clr: rgb(226, 232, 240);
  --dashboard-bg-clr: rgb(25, 146, 212);
  --dashboard-text-clr: white;
  --accent-clr: rgb(240, 180, 41);
  --box-shadow: 2px 2px 5px 2px rgba(120, 120, 120, 0.4);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
}

.sidebar {
  padding: 1rem;
  background-color: var(--dashboard-bg-clr);
  color: white;
  grid-area: sidebar;

}

.sidebar ul {
  list-style: none;
  line-height: 1.5;
}

header {
  padding: 1rem 2rem;
  box-shadow: var(--box-shadow);
  grid-area: header;
  z-index: 1;
}

header div+div {
  margin-top: 1rem;
}

header .top-row,
header .bottom-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 1rem;
}

.icon {
  display: inline;
  font-weight: 400;
}

.search-bar {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.search-bar input {
  flex: 1;
  border: none;
  border-radius: 1rem;
  background-color: var(--primary-bg-clr);
  padding: 1rem;
  height: 2rem;
  width: 600px;
}

.top-row .user {
  margin: 0;
}

header .user {
  font-weight: bold;
}

.top-row div:nth-child(2) {
  display: flex;
  gap: 1rem;
}

.bottom-row .user {
  flex: 2;
  font-size: 1.5rem;
}

.bottom-row .user img {
  width: 80px;
  height: 80px;
}

header .buttons {
  /* width: 300px; */
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: var(--dashboard-bg-clr);
  color: var(--dashboard-text-clr);
  font-weight: bold;
  padding: 1em 2em;
  border: none;
  border-radius: 2em;
}

main {
  background-color: var(--primary-bg-clr);
  padding: 1rem 2rem 2rem 1rem;
  grid-area: main;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    "your-projects  aside-column";
  gap: 1rem;
}

.your-projects {
  grid-area: your-projects;
}

.project-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;

}

.project-cards .card {
  border-left: 7px solid var(--accent-clr);
}

.card {
  background-color: var(--dashboard-text-clr);
  border-radius: 8px;
  padding: 1.5em;
  box-shadow: var(--box-shadow);
}

.card p {
  line-height: 1.5;
  color: var(--secondary-text-clr);
}

.aside-column {
  grid-area: aside-column;
}

.user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user img {
  width: 50px;
  height: 50px;
  background-color: orange;
  border-radius: 50%;
}

.user+.user {
  margin-top: 1.5rem;
}

.user p {
  margin: 0;
}